<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shop_cart.user_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @shop_cart.total %>
</p>

<%= link_to 'Edit', edit_shop_cart_path(@shop_cart) %> |
<%= link_to 'Back', shop_carts_path %>
