<h1>Listing vechicles</h1>

<ul>
<li><a href="ccc_home#index">Home</a></li> 
<li>Search Cars</li>
<li>Return a Car</li>
</ul>
<hr />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Design</th>
      <th>Year</th>
      <th>Price</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vechicles.each do |vechicle| %>
      <tr>
        <td><%= vechicle.name %></td>
        <td><%= vechicle.number %></td>
        <td><%= vechicle.design %></td>
        <td><%= vechicle.year %></td>
        <td><%= vechicle.price %></td>
        <td><%= vechicle.availability %></td>
        <td><%= link_to 'Show', vechicle %></td>
        <td><%= link_to 'Edit', edit_vechicle_path(vechicle) %></td>
        <td><%= link_to 'Destroy', vechicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vechicle', new_vechicle_path %>
